language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "nightly"
  - "pypy"
  - "pypy3"

jobs:
  include:
    - name: "Python 2.7.17 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
      before_install:
       - type python
       - type pip || true
       - python --version
       - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
       - export PATH=/Users/travis/Library/Python/2.7/bin:$PATH
       - python get-pip.py
    - name: "Python 3.7.5 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
      addons:
        homebrew:
          packages:
           - python3
      before_install:
       - type python3
       - type python || true
       - mkdir fake_bin
       - ln -s $(type -p python3) fake_bin/python
       - ls -l fake_bin
       - export PATH=$(pwd)/fake_bin:$PATH
       - type python
       - python --version
    - name: "Python 2.7.17 on Windows"
      os: windows
      language: shell
      before_install:
        - choco install python2 --version 2.7.17
        - python -m pip install --upgrade pip
        - python -m pip install PyInstaller==3.6
      env:
        - PATH=/c/Python27:/c/Python27/Scripts:$PATH
    - name: "Python 3.7.6 on Windows"
      os: windows
      language: shell
      env:
        - PATH=/c/Python37:/c/Python37/Scripts:$PATH
        - PYTHONIOENCODING=utf8
        - PYTHONUTF8=1
      before_install:
        - choco install python --version 3.7.6
        - python -m pip install --upgrade pip
        - python -m pip install PyInstaller==3.6
    - name: "Python 3 on WSL Windows"
      os: windows
      language: shell
      env:
        - PYTHONIOENCODING=utf8
        - PYTHONUTF8=1
        - WSL=wsl
      before_install:
        - wsl --list || true
        - wsl --list --all || true
        - wsl -s Ubuntu || true
        - Get-VM || true
        - wslconfig //list || true
        - wslconfig //list //all || true
        - wslconfig //setdefault Ubuntu || true
        - curl -L -o ubuntu-1804.zip https://aka.ms/wsl-ubuntu-1804
        - powershell.exe -NoProfile -Command "Expand-Archive -Path ubuntu-1804.zip -DestinationPath Ubuntu"
        - Ubuntu/ubuntu1804.exe install --root
        - wsl --list || true
        - wsl --list --all || true
        - wsl -s Ubuntu || true
        - Get-VM || true
        - wslconfig //list || true
        - wslconfig //list //all || true
        - wslconfig //setdefault Ubuntu || true
        - wsl sudo apt-get update
        - wsl sudo env DEBIAN_FRONTEND=noninteractive apt-get install -y python3-minimal python3-pip
        - wsl python --version || trueinstall
        - wsl python2 --version || true
        - wsl python3 --version || true
        - wsl sudo update-alternatives --install "C:/program files/git/usr/bin/python" python "C:/program files/git/usr/bin/python3" 10
        - wsl python --version || true
        - wsl python -m pip install --upgrade pip
    - name: "Python 3.8.0 on Windows"
      os: windows
      language: shell
      env:
        - PATH=/c/Python38:/c/Python38/Scripts:$PATH
        - PYTHONIOENCODING=utf8
        - PYTHONUTF8=1
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
        - python -m pip install PyInstaller==3.6
  allow_failures:
    - python: "nightly"
    - name: "Python 3 on WSL Windows"

install:
  - $WSL python -m pip install -r requirements-dev.txt
  - $WSL python -m pip install coveralls
  - $WSL python -m pip freeze

script:
  - pytest
  - coveralls

notifications:
  email:
    recipients:
        - michal.tomasz.labedzki@gmail.com
    on_success: always
    on_failure: always
